p{background-color: #e58b31;text-align: center; font-size: 35px;}
h3{background-color: rgb(240, 164, 40);text-align: center;}
body{background-color: rgb(213, 213, 117);}

p{background-color: rgb(238, 146, 8);text-align: center;}

#i{background-color: rgb(237, 126, 82); font-size: 25px; color:black}
#m{background-color: rgb(240, 187, 108); font-size:25px}

#sr{text-align: center; }

#im{background-color: rgb(242, 235, 171); color:black; }


body{color:white;background-image: url("https://etimg.etb2bimg.com/photo/75161189.cms");
    
        opacity: 0.9; text-align: center;
      }
      
